<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1);
            width: 400px;
        }
        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

    </style>
    <title>Books</title>
</head>
<body>
    <h1>Book Details</h1>

    <div class="card">
        <h2>{{ book.title }}</h2>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Price:</strong> ${{ book.price }}</p>
        <p><strong>Description:</strong> ${{ book.description }}</p>
        <a href="{% url 'buy_book' book.id %}"><button>Buy Book</button></a>
    </div>
</body>
</html>